/* Archivo: GuitarList.css */

.carrito {
     background-color: transparent;
     border: none;
     max-width: 2rem;
     position: relative;
     z-index: 100;
   }
   
   .carrito #carrito {
     display: none;
     position: absolute;
     box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
   }
   
   .carrito:hover #carrito {
     display: block;
     background-color: white;
     padding: 10px;
     height: fit-content;
     min-width: 350px;
     width: fit-content;
     top: 100%;
     right: 0;
   }
   
   #carrito img {
     width: 30px;
   }
   
   #carrito .btn-danger {
     font-size: 10px;
     border-radius: 50%;
     padding: 5px 9px;
   }
   
   #carrito .btn-dark {
     padding: 0 2px;
     margin: 0 3px;
   }
   